<ion-header>
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>        
  </button>

  <ion-buttons end *ngIf="done">
<button ion-button icon-only (click)="showOptions()">
<ion-icon name="add"></ion-icon>
</button>
  </ion-buttons>

  <ion-title>Alle gespeicherten Barcodes</ion-title>
</ion-navbar>

<!-- Searchbar -->
<ion-toolbar>
  <ion-searchbar (ionInput)="onInput($event)" placeholder="Suche nach Barcode"></ion-searchbar>
</ion-toolbar>
</ion-header>

<ion-content class="barcode" >
 <ion-refresher (ionRefresh)="loading($event)">
</ion-refresher>

<!-- puts codes in a card for tidy summary -->
<ion-card *ngFor="let codes of code">
<ion-row>
<ion-col (click)="showCode(codes)">
    <ion-item>
      Kategorie: {{codes.categorie}}
    </ion-item>

<!-- shows more details about a code when the related card is clicked -->
    <ion-card-content >
        Barcode: {{codes.barcode}}<br>
        Menge: {{codes.quantity}}<br>
    </ion-card-content>
</ion-col>

<ion-col offset width-33>
<!-- buttons for edit and delete one of the codes -->
<ion-buttons end *ngIf="done">
            <button ion-button icon-left clear small (click)="editCode(codes)">
              <ion-icon name="create"></ion-icon>
                <div>Bearbeiten</div>
            </button>
<hr>
            <button ion-button icon-left clear small color="danger" (click)="deleteCode(codes)">
              <ion-icon name="trash"></ion-icon>
                <div>Löschen</div>
            </button>
</ion-buttons>
</ion-col>
</ion-row>
</ion-card>  
</ion-content>
