<ion-header>
<ion-navbar>

  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>        
  </button>

<ion-buttons end>
<button ion-button icon-only (click)="createCategorie()">
<ion-icon name="md-add"></ion-icon>
</button>
  </ion-buttons>

  <ion-title>Nach Kategorie</ion-title>

</ion-navbar>

<!-- Searchbar to search for specific categorie -->
<ion-toolbar>
  <ion-searchbar (ionInput)="onInput($event)" placeholder="Suche nach Kategorie"></ion-searchbar>
</ion-toolbar>

</ion-header>

<ion-content>
<ion-refresher (ionRefresh)="doRefresh($event)">
</ion-refresher>

<!--<div>

<ion-list>

      <ion-list>

          <ion-item-sliding  *ngFor="let categorie of categories">
            <ion-item (click)="showCodeCategorie(categorie.categorie)">
            {{categorie.categorie}}
            </ion-item>
            <ion-item-options>
                <button ion-button (click)="deleteCategorie(categorie.categorie)"><ion-icon name="trash"></ion-icon> L&ouml;schen</button>
                </ion-item-options>
          </ion-item-sliding>

    </ion-list>
  </ion-list>
</div>-->

<ion-card *ngFor="let categorie of categories">
<ion-row>
<ion-col>
<ion-item (click)="showCodeCategorie(categorie.categorie)">
{{categorie.categorie}}
</ion-item>
</ion-col>
<ion-col width-33>
<ion-buttons end>
          <!--  <button ion-button icon-left clear small item-right>
              <ion-icon name="create"></ion-icon>
                <div>Bearbeiten</div>
            </button>
<hr>-->
            <button ion-button icon-left clear small color="danger" (click)="deleteCategorie(categorie.categorie)">
              <ion-icon name="trash"></ion-icon>
                <div>Löschen</div>
            </button>
</ion-buttons>
</ion-col>

</ion-row>
</ion-card>
  
</ion-content>